.rqg {
    color: white;
    font-family: bangers;
    font-size: 2.5em;
    font-weight: 200;
    width: 100%;
    height: 50px;
    padding-top: 7px;
    background-color: teal;
}

.btn {
    margin-top: 5px;
}

.box-main {
    margin-top: 100px;
    height: 250px;
    margin-bottom: 20px;
    margin-left: 20%;
    width: 60%;
}

.quote p {
    font-size: 25px;
    font-style: italic;
    font-family: handlee
}

.quote hr {
    width=20%;
}

.quote footer {
    font-family: monospace;
}

.twit {
    margin-top: 10px;
}

#tweet{
  display: block;
  margin-left: 42.3%;
  background-color: #e0e0e0;
  width: 110px;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
}

.buttons {
    padding-top: 30px;
}

.image-twitter {
    width: 30px;
    height: 30px;
}

.footer{
  font-family: monospace;
  margin-top: 30px;
  letter-spacing: 5px;
}

.footer a{
  text-decoration: none;
  color: inherit;
}
