.rqg {
    color: white;
    font-family: bangers;
    font-size: 2.5em;
    font-weight: 200;
    width: 100%;
    height: 50px;
    padding-top: 7px;
    background-color: teal;
}

.box {
    margin-top: 100px;
}

.btn {
    margin-top: 5px;
}

.box-main {
    height: auto;
    margin-bottom: 20px;
}

p {
    font-size: 25px;
    font-style: italic;
    font-family: handlee
}